In [54]:
#encoding for column gender

In [70]:
import pandas as pd 
import numpy as np
df = pd.read_csv('customer.csv')
df.head(10)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No
5   31  Female  Average    School       Yes
6   18    Male     Good    School        No
7   60  Female     Poor    School       Yes
8   65  Female  Average        UG        No
9   74    Male     Good        UG       Yes

In [71]:
df['gender'].unique() #Unique value in the coloum

array(['Female', 'Male'], dtype=object)

In [72]:
df['gender'].unique().sum() #concat

'FemaleMale'

In [73]:
df['gender'].value_counts() #count of that value

gender
Female    29
Male      21
Name: count, dtype: int64

In [74]:
df['gender'].value_counts().sum() #count value sum

np.int64(50)

In [60]:

from sklearn.preprocessing import OrdinalEncoder
OR = OrdinalEncoder(categories=[['Female','Male']])
OR.fit(df[['gender']])
OR.transform(df[['gender']])
#This is all ordinal encoder-->The data is converted from categorical to the numerical
#categories=[['Female','Male']]---> it defines that female value=0 and male =1

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [61]:
df['gender'] #no change in coloum

0     Female
1     Female
2     Female
3     Female
4     Female
5     Female
6       Male
7     Female
8     Female
9       Male
10    Female
11      Male
12      Male
13    Female
14      Male
15      Male
16      Male
17    Female
18      Male
19      Male
20    Female
21      Male
22    Female
23    Female
24    Female
25    Female
26    Female
27    Female
28      Male
29    Female
30      Male
31    Female
32      Male
33    Female
34      Male
35      Male
36    Female
37      Male
38    Female
39      Male
40      Male
41      Male
42    Female
43      Male
44    Female
45      Male
46    Female
47    Female
48    Female
49    Female
Name: gender, dtype: object

In [62]:
OR.fit(df[['gender']])
df['gender']=OR.transform(df[['gender']]) #Transform on (DF gender) column

In [63]:
df['gender']#show that coloum

#All values are converted into numerical due to above code

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     1.0
7     0.0
8     0.0
9     1.0
10    0.0
11    1.0
12    1.0
13    0.0
14    1.0
15    1.0
16    1.0
17    0.0
18    1.0
19    1.0
20    0.0
21    1.0
22    0.0
23    0.0
24    0.0
25    0.0
26    0.0
27    0.0
28    1.0
29    0.0
30    1.0
31    0.0
32    1.0
33    0.0
34    1.0
35    1.0
36    0.0
37    1.0
38    0.0
39    1.0
40    1.0
41    1.0
42    0.0
43    1.0
44    0.0
45    1.0
46    0.0
47    0.0
48    0.0
49    0.0
Name: gender, dtype: float64

In [64]:
type(df[['gender']])  #dataframe-2D

pandas.core.frame.DataFrame

In [65]:
type(df['gender']) #series-1D

pandas.core.series.Series

In [66]:
#encoding for column education

In [67]:
from sklearn.preprocessing import OrdinalEncoder
OE = OrdinalEncoder(categories=[['School','UG','PG']])
OE.fit(df[['education']])
OE.transform(df[['education']])

# categories=[['School','UG','PG']] ->If we don't use this then it gives random value to school UG and PG
#ie= 0,1,2

array([[0.],
       [1.],
       [2.],
       [2.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [2.],
       [1.],
       [1.],
       [1.],
       [0.],
       [2.],
       [0.],
       [2.],
       [2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [2.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.],
       [0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [2.],
       [2.],
       [1.],
       [2.],
       [2.],
       [2.],
       [1.],
       [1.]])

In [68]:
OE.fit(df[['education']])
df['education'] = OE.transform(df[['education']]) #Logic to convert specific column into the numerical that is (transform)

In [69]:
df['education']  #Column converted into new miracle by ordinal input

0     0.0
1     1.0
2     2.0
3     2.0
4     1.0
5     0.0
6     0.0
7     0.0
8     1.0
9     1.0
10    1.0
11    1.0
12    0.0
13    0.0
14    2.0
15    1.0
16    1.0
17    1.0
18    0.0
19    2.0
20    0.0
21    2.0
22    2.0
23    0.0
24    2.0
25    0.0
26    2.0
27    2.0
28    0.0
29    1.0
30    1.0
31    0.0
32    1.0
33    2.0
34    0.0
35    0.0
36    1.0
37    2.0
38    0.0
39    2.0
40    0.0
41    2.0
42    2.0
43    2.0
44    1.0
45    2.0
46    2.0
47    2.0
48    1.0
49    1.0
Name: education, dtype: float64