In [47]:
import pandas as pd
import numpy as np

df=pd.read_csv('train_data.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# chi square method-

In [48]:
c=pd.crosstab(df['Sex'],df['Survived'],margins=True)  # used for heat map and frequency of categorical data
c                                                     # how many surived and how may die and all...!

Survived    0    1  All
Sex
female     81  233  314
male      468  109  577
All       549  342  891

In [49]:
# Above is nothing but a Contingency_Table

In [50]:
import scipy
# The scipy library is a fundamental package in Python for scientific computing. 
# It builds on numpy to provide additional functionality
# for optimization, integration, interpolation, eigenvalue problems, algebraic equations.

In [51]:
from scipy.stats import chi2_contingency
chi2_contingency(c)

# The chi2_contingency function in scipy.stats performs the Chi-Square test of independence. It checks if two categorical variables are related by analyzing a contingency table. It returns:

# chi2: Test statistic,
# p: P-value (significance),
# dof: Degrees of freedom, and
# expected: Expected frequencies if independent.
# Use it to determine if two variables (e.g., gender and preference) are dependent. A p-value < 0.05 suggests dependency.

Chi2ContingencyResult(statistic=np.float64(263.05057407065567), pvalue=np.float64(1.0036732821369115e-55), dof=4, expected_freq=array([[193.47474747, 120.52525253, 314.        ],
       [355.52525253, 221.47474747, 577.        ],
       [549.        , 342.        , 891.        ]]))

In [52]:
# This is all just removing the chi-test  from   contingency tableThis is order to remove the P-value

# P-value < 0.05 then null hyp will be rejected and vice versa

In [53]:
from scipy.stats import chi2_contingency

# Assuming `c` is your contingency table
chi2, p, dof, expected = chi2_contingency(c)


print(f"Chi-Square Statistic: {chi2}")
print(f"P-value: {p}")
print(f"Degrees of Freedom: {dof}")
print(f"Expected Frequencies:\n{expected}")

Chi-Square Statistic: 263.05057407065567
P-value: 1.0036732821369115e-55
Degrees of Freedom: 4
Expected Frequencies:
[[193.47474747 120.52525253 314.        ]
 [355.52525253 221.47474747 577.        ]
 [549.         342.         891.        ]]

In [54]:
# Now here p value is less than 0.05 Show the variables are dependent6 and survivethey have relationship between them
# So in this case we cant remove any column
# If the P value is greater than 0.05 Then there was a chance of removing the columns but it is not 

# P-value: 1.0036732821369115e-55

# Finding the columns which are removed when p-value is greater

In [55]:
# # Apply SelectKBest with Chi-Square
# selector = SelectKBest(chi2, k=3)
# selector.fit(X, y)

# # Get selected features
# selected_features = selector.get_support()  # Boolean array
# print("Selected Features:", selected_features)

# # Identify retained and removed features
# retained_columns = X.columns[selected_features]
# removed_columns = X.columns[~selected_features]

# sample code

In [56]:
# import pandas as pd
# from sklearn.feature_selection import SelectKBest, chi2

# # Example DataFrame
# data = {
#     'Feature1': [1, 2, 3, 4],
#     'Feature2': [10, 20, 30, 40],
#     'Feature3': [5, 6, 7, 8],
#     'Feature4': [9, 10, 11, 12],
#     'Target': [0, 1, 0, 1]
# }
# df = pd.DataFrame(data)

# # Split into features (X) and target (y)
# X = df[['Feature1', 'Feature2', 'Feature3', 'Feature4']]
# y = df['Target']

# # Apply SelectKBest with Chi-Square
# selector = SelectKBest(chi2, k=3)
# selector.fit(X, y)

# # Get selected features
# selected_features = selector.get_support()  # Boolean array
# print("Selected Features:", selected_features)

# # Identify retained and removed features
# retained_columns = X.columns[selected_features]
# removed_columns = X.columns[~selected_features]

# print("Retained Features:", list(retained_columns))
# print("Removed Features:", list(removed_columns))

# k value

In [57]:
# What is k?
# k means "How many features do you want to keep?"
# Example:
# You have 5 features: Feature1, Feature2, Feature3, Feature4, Feature5.
# You set k=3: This means you want to keep the 3 most important features and remove the other 2.