In [143]:
import pandas as pd 
import numpy as np
df = pd.read_csv('customer.csv')
df['education'].unique()
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [144]:
df['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [145]:
df['gender'].unique().sum()

'FemaleMale'

In [146]:
df['gender'].value_counts()

gender
Female    29
Male      21
Name: count, dtype: int64

In [147]:
df['gender'].value_counts().sum()

np.int64(50)

In [148]:
from sklearn.preprocessing import OrdinalEncoder
OR = OrdinalEncoder(categories=[['School','UG','PG']])
OR.fit(df[['education']])
OR.transform(df[['education']])

array([[0.],
       [1.],
       [2.],
       [2.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [2.],
       [1.],
       [1.],
       [1.],
       [0.],
       [2.],
       [0.],
       [2.],
       [2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [2.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.],
       [0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [2.],
       [2.],
       [1.],
       [2.],
       [2.],
       [2.],
       [1.],
       [1.]])

In [149]:
OR.fit([['education']])

ValueError: Found unknown categories ['education'] in column 0 during fit

In [95]:
OR.fit(df[['gender']])
df['education']=OR.transform(df[['education']])

In [96]:
df['education']

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     1.0
7     0.0
8     0.0
9     1.0
10    0.0
11    1.0
12    1.0
13    0.0
14    1.0
15    1.0
16    1.0
17    0.0
18    1.0
19    1.0
20    0.0
21    1.0
22    0.0
23    0.0
24    0.0
25    0.0
26    0.0
27    0.0
28    1.0
29    0.0
30    1.0
31    0.0
32    1.0
33    0.0
34    1.0
35    1.0
36    0.0
37    1.0
38    0.0
39    1.0
40    1.0
41    1.0
42    0.0
43    1.0
44    0.0
45    1.0
46    0.0
47    0.0
48    0.0
49    0.0
Name: gender, dtype: float64

In [97]:
type(df[['gender']])

pandas.core.frame.DataFrame

In [98]:
type(df['gender'])

pandas.core.series.Series

In [99]:
(df['gender']).unique()

array([0., 1.])